* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito";
}
.parallax {
  background-image: url("parallax.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15vh;
}
.welcome {
  width: 80vw;
  height: 70vh;
  border: 2px solid grey;
}
header {
  z-index: 40;
  height: 11vh;
  width: 100vw;
  background-color: rgb(43, 62, 80);

  display: flex;
  position: fixed;
}
header.on {
  transition-duration: 1s;
  transform: translateY(-100%);
}

#menu {
  align-self: center;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 50px;
}
#menu ul {
  margin-left: 1vw;
  align-self: center;
  display: flex;
  list-style: none;
  width: 95vw;
  justify-content: space-between;
}
#menu a {
  justify-content: space-between;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 22px;
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  padding: 14px;
  border-radius: 12px;
  font-weight: 700;
}
.active {
  background-color: rgba(186, 76, 99, 0.8) !important;
}
.navbar-shrink {
  transition-duration: 1s;
  height: 8vh;
}
#menu a:hover {
  font-weight: 100;
}

.profile {
  align-self: center;
  justify-content: center;
  height: 70vh;
      width: 80vw;
  z-index: 20;
  margin-top: 35vh;
}
.profile_pic {
  position: relative;
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  margin-bottom: 2vh;
}
#welcome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  color: rgb(61, 61, 61);
  text-align: center;

}
#welcome h1 {
  font-size: 4rem;
}
#welcome h3 {
  font-size: 1.5rem;
  margin-bottom: 1vh;
  letter-spacing: 1px;
}

.logos{
    position: absolute;
    width: 100vw;
    height: 90vh;
    z-index: 100;

}

.logos img {
    position: relative;
  width: 60px;
  height: 60px;
  margin-right: 12px;
  background-color: white;
  opacity: 0.7;
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding:10px;
  border: 1px solid;
}
#image1 {
margin-top: -10vh;
}

#image2 {
  margin-top: 42vh;
  margin-left: 15vw;
}
#image3 {
  margin-top: -10vh;
  margin-left: 15vw;
}
#image4 {
  margin-top: 35vh;
  margin-left: 5vw;
}
#image5 {
  margin-top: 30vh;
  margin-left: 15vw;
}
#image6 {
  margin-top: -5vh;
  margin-left: 10vw;
}
#image7 {
  margin-top: 16vh;
  margin-left: 6vw;
}
#image8 {
  margin-top: 15vh;
  margin-left: 25vw;
}
#image9 {
  margin-top: 32vh;
  margin-left: 7vw;
}
#about {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100vw;
  align-items: center;
  background-color: rgba(186, 76, 99, 0.8);

}
.about-box {
    background-color: rgb(238, 238, 238);
  width: 50vw;
  height: 70vh;
  justify-content: center;
  background: white;
  margin-top: 10vh;
}
#about h1 {
  width: 36vw;
  margin-left: 7vw;
  text-align: center;
  border-bottom: 2px solid rgb(61, 61, 61);
  color: rgb(61, 61, 61);
  font-size: 3rem;
  margin-top: 4vh;
  letter-spacing: 3px;
}
#about p {
  width: 38vw;
  margin-left: 5vw;
  letter-spacing: 1px;
  color: rgb(61, 61, 61);
  font-size: 1.5rem;
  margin-top: 6vh;
}

/* Projects section starts */
#projects-header {
  color: rgb(61, 61, 61);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10vh;
}
.project {
  display: flex;
  flex-direction: column;
  align-self: center;
}
#projects h2 {
  font-size: 4rem;
  margin-bottom: 8vh;
}
.projects {
  height: auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(61, 61, 61);
  margin-left: 10vw;
  margin-bottom: 10vh;
  justify-content: center;
}
#project_img {
  object-fit: fill;
  border: 1px solid black;
  height: 240px;
  width: 360px;
  border-radius: 13px;
  margin: 15px;
}
.learn-more {
  text-align: center;
  display: flex;
  margin: 15px;

  justify-content: center;
  width: 360px;
  margin-top: -100px;
  height: 80px;
  border-radius: 6px;
  background-color: rgba(186, 76, 99, 0.9);
  opacity: 0;
  border: 1px solid rgb(61, 61, 61);
}
.image_container:hover .learn-more {
  z-index: 11;
  opacity: 1;
  position: relative;
  transition-duration: 0.6s;
}

.learn-more button {
  cursor: pointer;
  color: rgb(61, 61, 61);
  border-radius: 2px;
  border: 1px solid rgb(61, 61, 61);
  padding: 3px 10px;
  font-size: 13px;
  height: 25px;
  align-self: center;
}
.learn-more button:hover {
  color: white;
  font-size: 14px;
  background-color: rgb(43, 62, 80);
}
/* Projects section ends */

/* modal container */
.modal-container1,
.modal-container2,
.modal-container3,
.modal-container4,
.modal-container5,
.modal-container6 {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.modal-container1.on,
.modal-container2.on,
.modal-container3.on,
.modal-container4.on,
.modal-container5.on,
.modal-container6.on {
  visibility: visible;
}
.modal-container-content {
  width: 80vw;
  height: 90vh;
  background: white;
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
}
.modal-container-content button {
  align-self: flex-end;
  width: 44px;
  font-size: 25px;
  border-radius: 5px;
  position: absolute;
  z-index: 200;
  border: 1px solid rgb(36, 41, 46);
  cursor: pointer;
  box-shadow: 1px 1px 1px;
}
.modal-container-content h1 {
  font-size: 5rem;
  margin-bottom: 3vh;
  width: 30vw;
  align-self: center;
}
.modal-container-text {
  margin-top: 3vh;
  font-size: 19px;
  width: 80%;
  text-align: left;
  margin-left: 10%;
}
.modal-container-content h3 {
  margin-top: 2vh;
  font-size: 19px;
}
.modal-container-content p {
  font-size: 1.2rem;
  margin-bottom: 4vh;
}
.modal-container-content h4 {
  text-align: center;
  margin-bottom: 1vh;
}
.modal-container-content a {
  color: rgb(36, 41, 46);
}
.fa-github:before {
  content: "\f09b";
  margin-left: 30vw;
  font-size: 60px;
}
.modal-container-content img {
  object-fit: fill;
  border: 2px solid rgb(36, 41, 46);
  height: 300px;
  width: 450px;
  align-self: center;
  border-radius: 15px;
}
/* Modal container end */

/* section skills */
#skills{
    height: auto;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
}
#skills-header{
    color: rgb(61, 61, 61);
    font-size: 3rem;
    text-align: center;
}
.skills-flex{
    justify-content: center;
    align-self: center;
}
.skills-flex-item{
    text-align: center;
    height: 5vh;
    width: 40vw;
    margin: 10vh 0;
}
.skills-flex-item h3{
    margin: 2vh 0;
    padding-bottom: 1vh;
    border-bottom: 1px solid grey;
}
.skills-flex-item p{
    margin: 2vh 0;
}
/* end skills section */

/* contact section */


#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
  width: 60vw;
  border-radius: 5px;
  margin: 7vh 20vw;
  padding: 43px;
}
.contact :hover {
  box-shadow: 2px 2px 2px;
}
.contact {
  text-align: center;
  color: rgba(186, 76, 99, 0.8);
  font-size: 32px;
  margin-bottom: 31px;
  line-height: 42px;
  text-transform: uppercase;
}

/* Style inputs with type="text", select elements and textareas */
input,
select,
textarea {
  border: 1px solid grey;
  width: 88%; /* Full width */
  padding: 12px; /* Some padding */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 15px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
textarea {
  height: 130px;
  border: 1px solid grey;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#sendMessageButton {
  color: #444444;
  background: #f3f3f3;
  border: 2px #dadada solid;
  padding: 8px 16px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 11pt;
  margin-top: 5px;
  outline: none;
  cursor: pointer;
}

button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 2px 2px 2px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
}
/* end contact section */

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 100vw;
    justify-content: center;
     background-color: rgb(43, 62, 80);
}

#fa-va-footer {
    display: flex;
    color: white;
    margin-left: 200px;
}
#fa-va-footer h1 {
align-self: center;
margin-right: 40px;
}
#fa-va-footer p {
align-self: center;
margin:0 40px;
font-size: 24px;
}
#fa-va-footer i {
align-self: center;
font-size: 65px;
color: white;
}

/* Footer  end */
@media screen and (min-width: 200px) and (max-width: 800px) {
  #menu a {
    font-size: 13px;
    padding: 6px;
  }
  #menu ul{

      margin-left: -2vw;
  }
  #navbar ul {
    width: auto;
    align-self: flex-end;
  }

  .navbar-shrink {
    transition-duration: 1s;
    height:13vh;
  }
  .profile {
    height: auto;
    width: auto;
    margin-top: 8vh;
  }
  .image_container {
    width: 90vw;
    height: auto;
  }
  .learn-more {
      display: none;
  }
  .profile_pic {
    height: 14rem;
    width: 14rem;
  }
  #welcome {
    height: 77vh;
  }
  #welcome h1 {
    font-size: 2rem;
  }

  #welcome h3 {
    font-size: 1rem;
  }
  #about {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10vh 0;

  }
  .about-box {
    width: 88vw;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 4vh;
  }
  #about h1 {
    width: 46vw;
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
  }
  #about p {
    width: 77vw;
    margin-left: 5vw;
    font-size: 14px;
  }
  .parallax {
    min-height: 45vh;
    margin-bottom: 9vh;
  }
  #projects-header {
    font-size: 2rem;
    margin-bottom: 4vh;
  }
  #project_img {
    margin: 2vh 0;
    height: 220px;
    width: 310px;
  }
}
@media screen and (min-width: 200px) and (max-width: 400px) {
    #project_img {
      margin: 2vh 0;
      height: 160px;
      width: 260px;
    }

}
