* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito";
}
.welcome {
  width: 80vw;
  height: 70vh;
  border: 2px solid grey;
}
header {
  z-index: 10;
  height: 11vh;
  width: 100vw;
background-color: rgb(43,62,80);

  display: flex;
  position: fixed;
}
header.on {
  transition-duration: 1s;
  transform: translateY(-100%);
}

#menu {
  align-self: center;
  display: flex;
  position: absolute;

  width: 100vw;
  height: 50px;
}
#menu ul {
  margin-left: 1vw;
  align-self: center;
  display: flex;
  list-style: none;
  width: 95vw;
  justify-content: space-between;
}
#menu a {
  justify-content: space-between;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 22px;
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  padding: 15px;
  border-radius: 12px;
  font-weight: 700;
}
.active {
  background-color: rgba(26,188,156,0.8) !important;
}
.navbar-shrink{
    transition-duration: 1s;
    height: 8vh;
}
#menu a:hover {
  font-weight: 100;
}

.profile {
  position: absolute;
  align-self: center;
  z-index: 9;
  height: 30vh;
  width: 50vw;
}
#profile_pic {
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  margin-bottom: 2vh;
}
#welcome {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  color: rgb(61, 61, 61);
  text-align: center;
}
#welcome h1 {
  font-size: 4rem;
}
#welcome h3 {
  font-size: 1.5rem;
  margin-bottom: 1vh;
  letter-spacing: 1px;
}
.logos{
    margin-top: 17vh;
    position: absolute;
    width: 100vw;
    height: 90vh;
}
.logo {
  margin-right: 12px;
  overflow: hidden;
  background-color: white;
  border-radius: 42%;
  opacity: 0.7;
  padding: 0px 11px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.logo img {
  width: 60px;
  height: 60px;
}
.image1 {
    position: absolute;

  margin-top: -15vh;
  margin-left: 10vw;
}

.image2 {
  position: absolute;

  margin-top: 18vh;
  margin-left: 75vw;
}
.image3 {
  position: absolute;

  margin-top: -10vh;
  margin-left: 80vw;
}
.image4 {
  position: absolute;

  margin-top: 35vh;
  margin-left: 15vw;
}
.image5 {
  position: absolute;

  margin-top: 30vh;
  margin-left: 85vw;
}
.image6 {
  position: absolute;

  margin-top: -30vh;
  margin-left: 70vw;
}
.image7 {
  position: absolute;

  margin-top: -32vh;
  margin-left: 20vw;
}
.image8 {
  position: absolute;

  margin-top: 10vh;
  margin-left: 25vw;
}
.image9 {
  position: absolute;

  margin-top: 12vh;
  margin-left: 5vw;
}
#about {
  margin-top: 10vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 100vw;
  background-color: rgba(26,188,156,0.8);
  align-items: center;
}
.about-box {
  width: 50vw;
  height: 50vh;
  justify-content: center;
  background: white;
  margin-top: 5vh;
}
#about h1 {
  width: 36vw;
  margin-left: 7vw;
  text-align: center;
  border-bottom: 2px solid rgb(61, 61, 61);
  color: rgb(61, 61, 61);
  font-size: 3rem;
  margin-top: 4vh;
  letter-spacing: 3px;
}
#about p {
  width: 40vw;
  margin-left: 5vw;
  letter-spacing: 1px;
  color: rgb(61, 61, 61);
  font-size: 1.5rem;
  margin-top: 6vh;
}

/* Projects section starts */
.projects {
  padding: 10vh 12vw 13vh 12vw;
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(61, 61, 61);
}
#projects-header {
  color: rgb(61, 61, 61);
  font-size: 5rem;
  text-align: center;
}
#projects h2 {
  font-size: 4rem;
  margin-bottom: 5vh;
}
.project {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
}

.image_container:hover .learn-more {
  z-index: 11;
  transition-duration: 0.5s;
  transform: translateY(-85px);
  opacity: 1;
}
#project_img {
  padding: 1px 1px;
  object-fit: fill;
  border: 2px solid black;
  height: 240px;
  width: 360px;
  border-radius: 13px;
}
.learn-more-white {
    width: 360px;

  height: 80px;
  z-index: 100;
  position: relative;
  background: white;
  margin-top: -80px;
}
.learn-more {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 360px;

  height: 80px;
  border-radius: 6px;
  background: white;
  opacity: 0;
  border: 1px solid rgb(61, 61, 61);
}

#learn-more-button {
  cursor: pointer;
  color: rgb(61, 61, 61);
  border-radius: 2px;
  border: 1px solid rgb(61, 61, 61);
  box-shadow: 1px 1px 1px 1px;
  padding: 3px 10px;
  font-size: 12px;
  height: 25px;
  align-self: center;
}
#learn-more-button:hover {
  border: 1px solid black;
  color: white;
  font-size: 13px;
  background-color: rgb(61, 61, 61);
}
/* Projects section ends */

/* modal container */
.modal-container {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.modal-container.on {
  visibility: visible;
}
.modal-container-content {
  width: 80vw;
  height: 90vh;
  background: white;
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
}
#modal-container-close {
  align-self: flex-end;
  width: 44px;
  font-size: 25px;
  border-radius: 5px;
  position: absolute;
  border: 1px solid rgb(36, 41, 46);
  cursor: pointer;
  box-shadow: 1px 1px 1px;
}
.modal-container h1 {
  font-size: 5rem;
  margin-bottom: 3vh;
}
.modal-container-text {
  margin-top: 3vh;
  font-size: 19px;
  width: 80%;
  text-align: left;
  margin-left: 10%;
}
.modal-container h3 {
  margin-top: 2vh;
  font-size: 19px;
}
.modal-container p {
  font-size: 1.2rem;
  margin-bottom: 4vh;
}
.modal-container h4 {
  text-align: center;
  margin-bottom: 1vh;
}
.modal-container a {
  color: rgb(36, 41, 46);
}
.fa-github:before {
  content: "\f09b";
  margin-left: 30vw;
  font-size: 60px;
}
.modal-container img {
  object-fit: fill;
  border: 2px solid rgb(36, 41, 46);
  height: 300px;
  width: 400px;
  align-self: center;
  border-radius: 15px;
}
/* Modal container end */
