@import "./header";
@import "./welcome";
@import "./projects";
@import "./modal";
@import "./contact";
@import "./footer";
@import "./skills";
@import "./about";
@import "./smallerScreens";
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Nunito";
}