header {
  z-index: 40;
  margin-top: -2vh;
  height: 0;
  width: 100vw;
  background-color: #24292e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

header.on {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.navbar-shrink {
  margin: 0;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  height: 9vh;
}

.active {
  background-color: rgba(186, 76, 99, 0.7) !important;
}

#menu {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 50px;
}

#menu ul {
  margin-left: 1vw;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 95vw;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#menu a {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  padding: 6px;
  border-radius: 7px;
  font-weight: 700;
  padding: 9px;
}

#menu a:hover {
  color: lightgrey;
}

.parallax3 {
  background-image: url("welcome_image.jpg");
  min-height: 450px;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5vh 0;
}

.hero {
  background-color: #131313;
  background-image: url("welcome_image.jpg");
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

#my-name,
#full-stack {
  color: white;
  font-size: 1px;
  opacity: 0;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 4px #000;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}

.right {
  opacity: 1 !important;
  font-size: 3.5rem !important;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
}

.left {
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  font-size: 1.8rem !important;
  opacity: 1 !important;
}

#projects-header {
  color: #3d3d3d;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2vh;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

#projects h2 {
  font-size: 4rem;
  margin-bottom: 8vh;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10vh;
}

.projects {
  padding-top: 8vh;
  height: auto;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  color: #3d3d3d;
  margin-left: 5vw;
  margin-bottom: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#project_img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 200px;
  width: auto;
  margin: 15px;
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
}

.learn-more {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  margin-top: -221px;
  height: 201px;
  background-color: rgba(186, 76, 99, 0.9);
  opacity: 0;
  border: 1px solid #3d3d3d;
}

.image_container:hover .learn-more {
  z-index: 11;
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.learn-more i {
  cursor: pointer;
  padding: 3px 10px;
  font-size: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.learn-more i:hover {
  font-size: 70px;
  color: rgba(43, 62, 80, 0.9);
}

.modal-container1,
.modal-container2,
.modal-container3,
.modal-container4,
.modal-container5 {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}

.modal-container1.on,
.modal-container2.on,
.modal-container3.on,
.modal-container4.on,
.modal-container5.on {
  visibility: visible;
}

.modal-container-content {
  width: 80vw;
  height: 90vh;
  background: white;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-radius: 15px;
}

.modal-container-content button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 44px;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  z-index: 200;
  border: 1px solid #24292e;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
  outline: none;
}

.modal-container-content button:active {
  margin-top: 1px;
  margin-left: 2px;
}

.site-link {
  text-decoration: none;
  margin-left: 5px;
  margin-top: -3px;
  color: rgba(186, 76, 99, 0.9) !important;
}

.modal-container-content h1 {
  font-size: 2.5rem;
  margin-bottom: 2.5vh;
  width: 30vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal-container-text {
  margin-top: 3vh;
  font-size: 19px;
  width: 80%;
  text-align: left;
  margin-left: 10%;
}

.modal-container-content h3 {
  margin-top: 2vh;
  font-size: 19px;
}

.modal-container-content p {
  font-size: 1rem;
  margin-bottom: 1vh;
}

.modal-container-content h4 {
  font-size: 1rem;
  margin-bottom: 1vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.modal-container-content a {
  color: #24292e;
}

.fa-github:before {
  content: "\f09b";
  font-size: 35px;
  text-align: center;
  margin-left: 15px;
}

.modal-container-content img {
  -o-object-fit: fill;
     object-fit: fill;
  border: 4px solid #24292e;
  height: 38%;
  width: 37%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 15px;
}

.github {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 6vh;
}

/* contact section */
#contact {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 5%;
  width: 60vw;
  border-radius: 5px;
  margin: 0vh 20vw;
}

.contact :hover {
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
}

.contact {
  padding-top: 5vh;
  text-align: center;
  color: rgba(186, 76, 99, 0.8);
  font-size: 32px;
  margin-bottom: 31px;
  line-height: 42px;
  text-transform: uppercase;
}

.form {
  height: 50px;
  position: relative;
  font-size: 14px;
  width: 90%;
  margin-top: 6px;
  margin-left: 5%;
  overflow: hidden;
  margin-bottom: 30px;
}

.form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

textarea {
  font-size: 14px;
  height: 80px;
  border: 1px solid grey;
  width: 90%;
  padding: 12px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 15px;
  resize: vertical;
}

textarea:focus {
  height: 130px;
  outline: none;
}

.form label {
  position: absolute;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid grey;
  text-align: left;
}

.form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(186, 76, 99, 0.8);
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 8px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#sendMessageButton {
  color: #444444;
  background: #f3f3f3;
  border: 2px rgba(186, 76, 99, 0.8) solid;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11pt;
  margin-top: 35px;
  outline: none;
  cursor: pointer;
}

#sendMessageButton:hover {
  border: 2px #c6c6c6 solid;
  -webkit-box-shadow: 2px 2px 2px #eaeaea;
          box-shadow: 2px 2px 2px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

#sendMessageButton:active {
  -webkit-box-shadow: inset 1px 1px 1px #dfdfdf;
          box-shadow: inset 1px 1px 1px #dfdfdf;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 260px;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #24292e;
  margin-top: 11vh;
}

#fa-va-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-left: 200px;
}

#fa-va-footer h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 40px;
}

#fa-va-footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 40px;
  font-size: 24px;
}

#fa-va-footer i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 65px;
  color: white;
}

#fa-va-footer img:hover {
  margin-top: -1vh;
}

#fa-va-footer i:hover {
  margin-top: -1vh;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Footer  end */
/* section skills */
#skills {
  height: auto;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills-header {
  color: #3d3d3d;
  font-size: 3rem;
  text-align: center;
}

.skills-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-flex-item {
  text-align: center;
  width: 40vw;
  margin: 6vh 0;
}

.skills-flex-item h3 {
  margin: 5px 0;
  padding-bottom: 1vh;
  border-bottom: 1px solid grey;
}

.skills-flex-item p {
  margin: 2vh 0;
}

/* end skills section */
.parallax {
  background-image: url("parallax2.jpg");
  min-height: 500px;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15vh;
  opacity: 0.9;
}

.profile_pic {
  position: relative;
  height: 14rem;
  width: 14rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  margin: 0 3vw;
}

#about {
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-box {
  width: 800px;
  height: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  margin-top: 12vh;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid;
  border-radius: 5px;
}

#about h1 {
  width: 20vw;
  margin-left: 10vw;
  text-align: center;
  border-bottom: 2px solid #3d3d3d;
  color: #3d3d3d;
  font-size: 2.5rem;
  margin-top: 4vh;
  letter-spacing: 3px;
}

#about p {
  width: 450px;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .modal-container1.on,
  .modal-container2.on,
  .modal-container3.on,
  .modal-container4.on,
  .modal-container5.on {
    visibility: hidden;
  }
  .parallax {
    margin-bottom: 1vh;
    margin-top: 8vh;
    min-height: 300px !important;
  }
  .parallax3 {
    min-height: 300px !important;
  }
  .hero {
    background-color: rgba(43, 62, 80, 0.95);
    width: 100% !important;
    height: 80% !important;
  }
  header {
    height: 13vh;
  }
  #menu a {
    font-size: 17px;
    padding: 6px;
  }
  #menu ul {
    margin-left: -2vw;
  }
  #navbar ul {
    width: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .right {
    font-size: 3rem !important;
  }
  .left {
    font-size: 1rem !important;
  }
  #top {
    height: 40vh;
  }
  .profile {
    height: auto;
    width: auto;
    margin-top: 8vh;
  }
  .image_container {
    width: 90vw;
    height: auto;
  }
  .learn-more {
    display: none;
  }
  .profile_pic {
    margin-bottom: 20px;
    height: 11rem;
    width: 11rem;
  }
  #welcome {
    height: 40vh;
  }
  #skills {
    padding-top: 8vh;
  }
  #about {
    padding-top: 12vh;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    margin-top: -20px;
    height: 500px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    border: none;
  }
  #about h1 {
    width: 46vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    font-size: 1.5rem;
  }
  #about p {
    width: 80%;
    margin-top: 3vh;
    margin-left: 5vw;
    font-size: 14px;
  }
  #projects-header {
    font-size: 2rem;
    margin-bottom: 4vh;
  }
  #project_img {
    margin: 2vh 0;
    height: 25vh;
    width: auto;
  }
  #fa-va-footer {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #fa-va-footer h1 {
    visibility: hidden;
    width: 0;
  }
  #fa-va-footer p {
    visibility: hidden;
    width: 0;
  }
  #fa-va-footer img {
    margin-left: 0;
  }
  #contact {
    padding: 30px 1px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    width: 90vw;
    margin-left: 7vw;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  #menu a {
    font-size: 12px;
  }
  #project_img {
    margin: 2vh 0;
    height: 25vh;
    width: auto;
  }
  #welcome {
    height: 30vh;
  }
  .right {
    font-size: 2rem !important;
  }
  .left {
    font-size: 1rem !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Nunito";
}
/*# sourceMappingURL=style.css.map */