@import "./header";
@import "./welcome";
@import "./projects";
@import "./modal";
@import "./contact";
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Nunito";
}

.parallax {
    background-image: url("parallax2.jpg");
    min-height: 500px;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15vh;
    opacity: 0.9;
}

.profile_pic {
    position: relative;
    height: 14rem;
    width: 14rem;
    align-self: center;
    border-radius: 50%;
    margin: 0 3vw;
}

#about {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    align-items: center;
}

.about-box {
    width: 800px;
    height: 40vh;
    justify-content: center;
    background: white;
    margin-top: 12vh;
    border-radius: 3px;
    display: flex;
    border: 2px solid;
    border-radius: 5px;
}

#about h1 {
    width: 20vw;
    margin-left: 10vw;
    text-align: center;
    border-bottom: 2px solid rgb(61, 61, 61);
    color: rgb(61, 61, 61);
    font-size: 2.5rem;
    margin-top: 4vh;
    letter-spacing: 3px;
}

#about p {
    width: 450px;
    letter-spacing: 1px;
    color: rgb(61, 61, 61);
    font-size: 16px;
    align-self: center;
}


/* section skills */

#skills {
    height: auto;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

#skills-header {
    color: rgb(61, 61, 61);
    font-size: 3rem;
    text-align: center;
}

.skills-flex {
    justify-content: center;
    align-self: center;
}

.skills-flex-item {
    text-align: center;
    width: 40vw;
    margin: 6vh 0;
}

.skills-flex-item h3 {
    margin: 5px 0;
    padding-bottom: 1vh;
    border-bottom: 1px solid grey;
}

.skills-flex-item p {
    margin: 2vh 0;
}


/* end skills section */


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 100vw;
    justify-content: center;
    background-color: rgb(36, 41, 46);
    margin-top: 11vh;
}

#fa-va-footer {
    display: flex;
    color: white;
    margin-left: 200px;
}

#fa-va-footer h1 {
    align-self: center;
    margin-right: 40px;
}

#fa-va-footer p {
    align-self: center;
    margin: 0 40px;
    font-size: 24px;
}

#fa-va-footer i {
    align-self: center;
    font-size: 65px;
    color: white;
}

#fa-va-footer img:hover {
    margin-top: -1vh;
}

#fa-va-footer i:hover {
    margin-top: -1vh;
}

.footer-links {
    display: flex;
}


/* Footer  end */

@media screen and (min-width: 300px) and (max-width: 900px) {
    .modal-container1.on,
    .modal-container2.on,
    .modal-container3.on,
    .modal-container4.on,
    .modal-container5.on {
        visibility: hidden;
    }
    .parallax {
        margin-bottom: 1vh;
        margin-top: 8vh;
        min-height: 300px !important;
    }
    .parallax3 {
        min-height: 300px !important;
    }
    .hero {
        background-color: rgba(43, 62, 80, 0.95);
        width: 100% !important;
        height: 80% !important;
    }
    header {
        height: 13vh;
    }
    #menu a {
        font-size: 17px;
        padding: 6px;
    }
    #menu ul {
        margin-left: -2vw;
    }
    #navbar ul {
        width: auto;
        align-self: flex-end;
    }
    .right {
        font-size: 3rem !important;
    }
    .left {
        font-size: 1rem !important;
    }
    #top {
        height: 40vh;
    }
    .profile {
        height: auto;
        width: auto;
        margin-top: 8vh;
    }
    .image_container {
        width: 90vw;
        height: auto;
    }
    .learn-more {
        display: none;
    }
    .profile_pic {
        margin-bottom: 20px;
        height: 11rem;
        width: 11rem;
    }
    #welcome {
        height: 40vh;
    }
    #skills {
        padding-top: 8vh;
    }
    #about {
        padding-top: 12vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .about-box {
        margin-top: -20px;
        height: 500px;
        width: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        border: none;
    }
    #about h1 {
        width: 46vw;
        align-self: center;
        text-align: center;
        font-size: 1.5rem;
    }
    #about p {
        width: 80%;
        margin-top: 3vh;
        margin-left: 5vw;
        font-size: 14px;
    }
    #projects-header {
        font-size: 2rem;
        margin-bottom: 4vh;
    }
    #project_img {
        margin: 2vh 0;
        height: 25vh;
        width: auto;
    }
    #fa-va-footer {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    #fa-va-footer h1 {
        visibility: hidden;
        width: 0;
    }
    #fa-va-footer p {
        visibility: hidden;
        width: 0;
    }
    #fa-va-footer img {
        margin-left: 0;
    }
    #contact {
        padding: 30px 1px;
        margin-top: 2vh;
        margin-bottom: 5vh;
        width: 90vw;
        margin-left: 7vw;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    #menu a {
        font-size: 12px;
    }
    #project_img {
        margin: 2vh 0;
        height: 25vh;
        width: auto;
    }
    #welcome {
        height: 30vh;
    }
    .right {
        font-size: 2rem !important;
    }
    .left {
        font-size: 1rem !important;
    }
}